src/main/resources/usuarios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://proj.example.com/usuario"
           xmlns:tns="http://proj.example.com/usuario"
           elementFormDefault="qualified">

<!-- Contrato dos dados ( oque vai ter no xml) define a estrutura dos dados que o wsdl usa-->
    <xs:element name="getUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllUsuariosRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllUsuariosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:usuario" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="usuario">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>